body {
  background-color: #E1CCEB;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
}

/*per la scrollbar di tuta la pagina html*/
html::-webkit-scrollbar {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: auto;
  max-width: 500px;    /* Larghezza massima della griglia */
  width: 90%;          /* Occupa il 90% su schermi piccoli */
  margin: 0 auto;      /* Centra la griglia nella pagina */
  gap: 10px; /* 20px sia righe che colonne - gap: 10px 30px; (10px tra righe, 30px tra colonne) */
}

.container div {
  border-radius: 15px;
  text-align: center;
}

h1 {
  font-family: "Sofia", sans-serif;
  font-style: cursive;
  text-align: center;
  font-size: 45px;
  margin: 10px 0 10px 0;
}

.formSanremo {
  background-color: ;
}

/*label è le scritte tipo CIAO INSERISCI IL TUO NOME*/
label {
  background-color: ;
  font-family: Century Gothic;      
  text-align: center;
  font-weight: 500;
  margin: 0 10px 0 10px;
  border-bottom: 1.5px solid;
  padding: 20px 20px 8px 20px;
}

#domanda {
  border: ;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #CEABDE;
  box-shadow: 0 0 10px black;
}

#invia {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.inputbase {
  width: 250px;
  height: 28px;
  border-radius: 5px;
}

select {
  font-family: Century Gothic;      
  text-align: center;
  font-weight: 500;
  padding-bottom: 7px;
  margin: 0 10px 0 10px;
  overflow-y: scroll;
}

option {
}

button {
  border: 2px solid #702963;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: #CEABDE;
  box-shadow: 0 0 10px black;
}

/*------------------------------------------SCROLLBAR DEL MAIN--------------------------------------------------

select::-webkit-scrollbar {
  width: 10px;
  /*display: none;
}

select::-webkit-scrollbar-button{
  display: block;
  height: 20px;
}

select::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 10px #702963;
  border-radius: 20px;
}

select::-webkit-scrollbar-thumb {
  background: #ba84bc;
  border-radius: 20px;
  box-shadow: inset 0px 0px 2px white;
}

select::-webkit-scrollbar-thumb:hover {
  background: #a55caa; 
}
*/

/*------------------------------------------FUOCHI D'ARTIFICIO--------------------------------------------------*/


.fireworks-wrapper {
  position: relative;
  display: inline-block;
  padding: 10px; 
}

/* Il canvas creato dalla libreria deve essere trasparente e coprire tutto */
.fireworks-wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Così puoi ancora evidenziare il testo */
}
